.about-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: url('../assets/images/profile-img.JPG');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.about-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 80px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.437);
    padding: 50px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    font-size: 25px;
    width: 500px;
    padding-left: 50px;
    border-left: 3px solid rgba(128, 128, 128, 0.478);
    background-color: rgba(0, 0, 0, 0.538);
    border-radius: 10px;
}

.about-title-container {
    font-size: 100px;
    display: flex;
    flex-direction: column;
}