:root {
    --background: #26242261;
    --black: #262422;
    --blue: #3C92E6;
    --white: #dbdbdb;
    --grey: #393939;
}

.contact-form {
    width: 40%;
    margin: 20px;
    padding: 20px;
    background-color: var(--background);
    margin-bottom: 150px;
}

@media screen and (max-width: 1280px) {
    .contact-form {
        width: 60%;
    }
}