.footer {
  margin-top: auto;
  width: 100%;
  height: auto;  
  display: flex;
  justify-content: center;
  z-index: 1;
}

.footer-icon-container {
  font-size: 60px;
  color: var(--white);
}

.github-icon {
  color: var(--white);
  transition: 200ms;
  margin: 3px;
}

.insta-icon {
  color: var(--white);
  transition: 200ms;
  margin: 3px;
}

.indeed-icon {
  color: var(--white);
  transition: 200ms;
  margin: 3px;
}

.linkedin-icon {
  color: var(--white);
  transition: 200ms;
  margin: 3px;
}

.github-icon:hover {
  color: var(--blue);
}

.insta-icon:hover {
  color: var(--blue);
}

.indeed-icon:hover {
  color: var(--blue);
}

.linkedin-icon:hover {
  color: var(--blue);
}