:root {
    --background: #26242261;
    --black: #262422;
    --blue: #3C92E6;
    --white: #dbdbdb;
    --grey: #393939;
}

.center {
    display: flex;
    justify-content: center;
}

.about-me-box  {
    background-color: var(--background);
    width: 80%;
    margin: 20px;
    padding: 20px;
    margin-bottom: 150px;
}

.about-me {
    font-size: 40px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 30px;
}

.description {
    padding: 20px;
}

.description div {
    font-size: 20px;
    margin: 5px;
}