:root {
    --background: #26242261;
    --black: #262422;
    --blue: #3C92E6;
    --white: #dbdbdb;
    --grey: #393939;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(22,21,20,1) 0%, rgb(6, 13, 51) 100%);
    background-attachment: fixed;
    color: var(--white);
    position: relative;
}