:root {
    --background: #26242261;
    --black: #262422;
    --blue: #3C92E6;
    --white: #dbdbdb;
    --grey: #393939;
}

html, body {
    width: 100%;
    height: 100vh;
    background: var(--grey);
    color: var(--white);
    
}