:root {
    --background: #26242261;
    --black: #262422;
    --blue: #3C92E6;
    --white: #dbdbdb;
    --grey: #393939;
}


body {
    width: 100%;
    height: 100vh;
    background: var(--grey);
    color: var(--white);
    z-index: -2;
}

.canvas_container {
    position: relative;
    justify-content: center;
    
}

#my_canvas {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: -1;
    top: 65%;
    left: 50%
}