.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
  background: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.navbar-title {
  width: 100%;
  font-size: 40px;
  margin: 0px 20px 0px 20px;
}



.links {
  display: flex;
  flex-wrap: wrap;
}

.links a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: var(--white);
  transition: color 0.3s, transform 0.3s;
}

.links a:hover {
  background-image: linear-gradient(90deg, rgba(60, 146, 230, 1) 0%, rgba(124, 0, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: translateY(-3px);
}