.projects-subtitle {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 20px;
}

.connors-projects {
    font-size: 40px;
}

.projects-container {
    width: 100%;
    padding: 20px;
    
}

.project {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--black);
    background-color: rgba(0, 0, 0, 0.358);
    border-radius: 10px;
    margin: 10px;
}

.project-content-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-img {
    display: block;
    object-position: center;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.569);
}

.project-title {
    width: 100%;
    display: flex;
    justify-content: left;
    font-size: 60px;
}

.link-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 100px;
}

.github-icon {
    transition: 200ms;
}

.website-icon {
    transition: 200ms;
}

.github-icon:hover {
    color: var(--purple);
    cursor: pointer;
}

.website-icon:hover {
    color: var(--purple);
    cursor: pointer;
}

.project-desc {
    font-size: 20px;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}

@media screen and (max-width: 972px) {
    .project {
        flex-direction: column;
    }
    .project-title {
        justify-content: center;
    }
}