.resume svg {
    width: 10vh;
    transition: 0.3s;
}

.resume:hover path {
    fill: url(#grad);
  }
  
  #grad stop:first-child {
    stop-color: rgba(60, 146, 230, 1);
  }
  
  #grad stop:last-child {
    stop-color: rgba(124, 0, 255, 1);
  }

.resume-description {
  width: 80%;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.372);
}

.resume-icon {
  font-size: 100px;
  color: white;
  transition: 200ms;
}

.resume-icon:hover {
  color: var(--blue);
}